{% extends "base.html" %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/login2.css' %}">
{% endblock %} 

{% block main %}
<div class="container">
	<div class="screen">
		<div class="screen__content">

			<form class="login" method="post">
			    {% csrf_token %}
			    <div class="login__field">
			        <i class="login__icon fas fa-user">
						<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
							<path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
						</svg>
					</i>
			        {{ form.username }}
					{{ form.username.errors }}
			    </div>
			    <div class="login__field">
			        <i class="login__icon fas fa-lock">
						<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
							<path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
						</svg>
					</i>
			        {{ form.password }}
					{{ form.password.errors }}
			    </div>
			    <button class="button login__submit">
			        <span class="button__text">Войти</span>
			        <i class="button__icon fas fa-chevron-right"></i>
			    </button>
			</form>
			

			<div class="social-login">
				
				<h3><a class="reg" href="{% url 'user_registration' %}">Зарегистрироваться в IKEDO CALL</a></h3>
				
			</div>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>
{% endblock %}