<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <style>
        body {
            max-width: 600px; /* Пример фиксированной ширины */
            margin: 0 auto; /* Центрирование содержимого */
            display: flex;
            justify-content: center;
            align-items: center;

        }
    </style>
    
</head>
<body style=" padding: 0;">
    
    <div style="display: flex; justify-content: center; align-items: center; flex-direction: column; height: 100vh;">
        <div style="border: 2px solid #000; padding: 20px;">           
          
            {%block main%}
            {%endblock%}
        </div>
    </div>

</body>
</html>
