

{% extends "base.html" %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/call_info.css' %}">


{% endblock %} 

{% block main %}
<header class="header">
    
    <div class="actions">
      <ul class="normalRes">
          <li class="active">
            <a data-trigger-type="result" href="{% url 'index' %}">Главная</a>
          </li>
          <li class="">
            <a data-trigger-type="html" href="{% url 'update_token' %}">Обновить токен</a>
          </li>
          <li class="">
            <a data-trigger-type="css" href="{% url 'logout' %}">Выйти</a>
          </li>          
      </ul>
      
  </header>

<div class="container text-center text-white text">
    <div class="row pt-5">
        <div class="col-lg-8 mx-auto text">
            <h1 class="display-4">Добро пожаловать</h1>
            
            
        </div>
    </div>


        {% if user.token is not None %} 
        
        <form method="post" action="{% url 'call' %}">
            {% csrf_token %} 
        <p  class="font-italic">Выберите подразделение для оповещения и Нажмите на кнопку</p>
        
        <select class="selectpicker dropend border-0 mb-1 px-2 py-2 rounded shadow" name="selected_subdivision">
            <option value="all" selected >Все подразделение</option>
            
            {% for key, value in sub_but.items %}                       
              <option value="{{key}}">{{ value }}</option>
            {% endfor %}
          </select>
        
        <div style="display: flex; justify-content: center; margin-top: 15px;"></div> 
        
                
                      
                                        
                    <p><input class="button" type="submit" name="obzvon_button" value="ОБЗВОН"></p>
                </form>

                <!-- Вывод сообщений об успешном/неудачном выполнении запроса -->

                <p>{{text|linebreaksbr}}</p>   
                       
            {% else %}
                <form method="post" action="">
                    {% csrf_token %}
                    <p>Введите токен</p>
                    <input type="text" name="token">
                    <p></p>
                    <input class="update" type="submit" value="Отправить токен">
                </form><br>
            {% endif %}   
      
    
</div>
</div> 
  
{% endblock %}