{% extends "base.html" %}

{% block main %}

        {% if user.is_authenticated %}

            <h1>Вы вошли в систему!</h1>
            <p>Email: {{user.email}}</p>

            {% if user.token %}    
            
                <form method="post" action="{% url 'call' %}">
                    {% csrf_token %}                       
                    <p><input type="submit" name="obzvon_button" value="ОБЗВОН"></p>
                </form>

                <!-- Вывод сообщений об успешном/неудачном выполнении запроса -->
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}

                <a href="{% url 'update_token' %}">Обновить токен</a>
                <span> | </span>       
            {% else %}
                <form method="post" action="">
                    {% csrf_token %}
                    <p>Введите токен</p>
                    <input type="text" name="token">
                    <p></p>
                    <input type="submit" value="Отправить токен">
                </form>
            {% endif %}
        
            <a href="{% url 'logout' %}">Выйти</a>

        {% else %}

            <h1>Вы не вошли в систему</h1>
            <a href="{% url 'user_registration' %}">Зарегистрироваться</a>
            <span> | </span> 
            <a href="{% url 'login' %}">Войти</a>

        {% endif %}
    
{% endblock %}
